@CHARSET "UTF-8";
body{
	background-image:url("https://static1.squarespace.com/static/582cf5a0bebafbcbcdd717e5/58a479513a04114c4d638fd0/58a47b5317bffc23424540c6/1487174508117/yyfwhurae-y-alexandre-chambon.jpg?format=2500w");
	background-size: 100%;
	background-repeat: no-repeat;
}
h1{
	color: hotpink;
	text-align:center;
}
p{
	color: skyblue;
	text-align:center;
}

img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}
a{
	color:orange;
	text-align:center;
}
