@CHARSET "UTF-8";
body{
	background-image:url("http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_05_hd_picture_166257.jpg");
 	
	//background: url("https://unsplash.com/?photo=_3TDkAttcaM");
	background-size: 100%;
	background-repeat: no-repeat;
}
h1{
	color: hotpink;
	text-align:center;
}
h2{
	color: skyblue;
	text-align:center;
}
h3{
	color: gold;
	text-align:center;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}
a{
	color:orange;
}
